<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyGram</title>
    <link rel="stylesheet" href="/static/styles/mini-default.min.css">
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}" class="logo">
            <img class="mylogo" src="static/img/logo.png" alt="">
        </a>
        <a href="{{ url_for('signup') }}" class="button">Sign Up</a>
        <a href="{{ url_for('login') }}" class="button">Login</a>
        <a href="http://m-taghizadeh.ir" class="button">About Us</a>
        <a href="http://m-taghizadeh.ir" class="button">Contact Us</a>
    </header>
    <div class="form">
        <div id="index-form" >
            <img class="pygram" src="static/img/logo.png" alt=""><br>
            <a href="{{ url_for('signup') }}"><span class="btn">Sign Up</span></a>
            <a href="{{ url_for('login') }}"><span class="btn">Login</span></a><br><br>
        </div>
    </div>
    <span class="toast">PyGram is a Social Network that developed with python and flask :)</span>
</body>
</html>