<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles/mini-default.min.css">
    <link rel="stylesheet" href="/static/styles/login.css">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}" class="logo">
            <img class="mylogo" src="/static/img/logo.png" alt="">
        </a>
        <a href="{{ url_for('signup') }}" class="button">Sign Up</a>
        <a href="{{ url_for('login') }}" class="button">Login</a>
        <a href="http://m-taghizadeh.ir" class="button">About Us</a>
        <a href="http://m-taghizadeh.ir" class="button">Contact Us</a>
    </header>

    <form class="login-form" action="{{ url_for('login') }}", method="POST">
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <!-- end flash messages -->
        
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
                <img class="pygram" src="/static/img/logo.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                User Name
            </div>
            <div class="col-sm-4">
                <input type="text" name="username">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                Password
            </div>
            <div class="col-sm-4">
                <input type="text" name="password">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
                <input type="submit" value="Log in">
            </div>
        </div>
    </form>
</body>
</html>