<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }} Profile</title>
    <link rel="stylesheet" href="/static/styles/mini-default.min.css">
    <link rel="stylesheet" href="/static/styles/profile.css">
    <link rel="stylesheet" href="/static/styles/style-header.css">
</head>

<body>

    <div class="container">
        
        <!-- Header -->
        <div class="row head-row">
            <header class="head">
                <a href="{{ url_for('post.post_index', username=user.username)}}" class="button">
                    <figure>
                        <img class="head-avatar" src="{{ user.avatar }}" alt="Image description" />
                        <figcaption>{{ user.username }}</figcaption>
                    </figure>
                </a>
                <a href="{{ url_for('direct.direct_index', username=user.username) }}" class="button">Direct Messages</a>
                <a href="{{ url_for('post.post_index', username=user.username) }}" class="button">Posts</a>
                <a href="{{ url_for('follow.follow_index', username=user.username) }}" class="button">Followers</a>
                <a href="{{ url_for('follow.follow_index', username=user.username) }}" class="button">Followings</a>
                <a href="{{ url_for('setting.setting_index', username=user.username ) }}" class="button">Setting</a>
                <a href="{{ url_for('profile.logout') }}" class="button">Logout</a>
            </header>
        </div>

        <!-- Search in Site  -->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-2">
                        <a href="{{ url_for('index') }}">
                            <img class="pygram" src="/static/img/logo.png" alt="">
                        </a>
                    </div>
                    <div class="col-sm-10">
                        <form class="search-form" action="{{ url_for('search.search') }}", method="GET">
                            <input type="submit" value="Search">
                            <input class="search-txt" type="text" name="q">
                        </form> 
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Search in Site  -->
        <!-- End Header -->

        <!-- Posts -->
        {% for post in POSTS_INFO %}
        <div class="row" class="post-row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 post-body">
                <div class="row">
                    <div class="col-sm-10">
                        
                        <a href="{{ url_for('user_page.user_page_index', username=post['Post'].username) }}" class="button">
                            <img class="post-avatar" src="{{ post['Post'].user.avatar }}" alt="">
                            <span class="user-name">{{ post['Post'].username }}</span>
                        </a>
                        
                    </div>
                </div>
                <div class="row">
                    <img class="post-img" src="{{ post['Post'].picture }}" alt="">
                </div>
                <div class="row">
                    <p>{{ post['Post'].caption }}</p>
                </div>
                <hr>
                <p class="like-number">Liked by {{ post['Likes'] }} people</p>
                <div class="row">
                    <div class="col-sm-1 like">
                        <a href="{{ url_for('post.like', username=post['Post'].username, date=post['Post'].post_date) }}">
                            <img src="/static/img/like.webp">
                        </a>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1 cm">
                        <a href="{{ url_for('post.single_post', username=post['Post'].username, date=post['Post'].post_date) }}">
                            <img class="img-cm" src="/static/img/cm.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <p class="sharing-time">{{ post['Post'].post_date }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- End of Posts  -->

    </div> <!-- End of container -->

</body>

</html>