
img{
    border-radius: 4px;
}

.user-avatar {
    border-radius: 50%;
}
.user-info {
    margin-top: 5%;
}

.post-img{
    border-radius: 4px;
    width: 100%;
    height: 100%;
    margin: 0% 0% 0 0;
}

.img-delete {
    width: 70%;
    height: 85%;
}

.img-edit {
    width: 70%;
    height: 85%;
}