.mylogo{
    height: 40px;
}

.pygram{
    width: 120px;
    overflow: hidden;                                               
    transition-duration: 0.8s;
    transition-property: transform;
}

.pygram:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}