a{
    text-decoration: none;
}

.result-number{
    color: rgb(129, 126, 126);
    margin: 0px 0px 30px 0;
}

.result-row{
    margin-bottom: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 10px;
}

.result-row:hover{
    background-color: rgb(224, 224, 224);
}

.user-avatar{
    height: 65px;
    width: 65px;
    margin: 10px;
}

.result-user-name{
    font-weight: bold;
    position: absolute;
    margin-top: 30px;
}

.result-name{
    font-weight: bold;
    margin-top: 30px;
    color: black;
}

.result-lastname{
    font-weight: bold;
    margin-top: 30px;
    color: black;
    margin-left: 30px;
}