.user-page-header-row{
    margin-left: 30px;
    margin-right: 30px;
}

.user-page-header {
    border: rgb(219, 214, 214) 3px solid;
    margin-top: 40px;
    border-radius: 10px 10px 0 0;
}

.user-avatar {
    width: 150px;
    padding: 20px;
}

.user-info {
    margin-left: 40px;
}

.span-username {
    font-weight: bold;
    margin: 40px;
    font-size: 18px;
}

.btn_set{
    margin: 40px;
    padding: 5px;
    border-radius: 10px;
    background-color: #0095f6;
    text-align: center;
    width: 100px;
    border: rgb(49, 49, 53) 1px solid;
}

.btn_set:link{
    color: rgb(255, 247, 247);
    text-decoration: none;
}

.btn_set:hover {
    background-color: #0278c7;
}

.btn_set_span {
    color: white;
}

.btn_unset{
    margin: 40px;
    padding: 5px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    width: 100px;
    border: rgb(147, 147, 151) 1px solid;
}

.btn_unset:link{
    color: rgb(77, 69, 69);
    text-decoration: none;
}

.btn_unset:hover {
    background-color: #f1ecec;
}

.btn_unset_span {
    color: rgb(97, 92, 92);
}

.page-header-span {
    margin: 30px;
    padding: 10px;
    font-weight: lighter;
    font-size: 1.6vw;
    color: rgb(0, 0, 0);
}

.span-number{
    font-weight: bold;
    color: rgb(110, 100, 100);
}

.user-posts-row {
    margin: 0 30px 30px 30px;
    border: rgb(219, 214, 214) 3px solid;
    border-radius: 0 0 10px 10px;
}

.post-img{
    border-radius: 4px;
    width: 95%;
    height: 95%;
    margin: 2.5%;
}

.post-img:hover {
    box-shadow: 5px 5px 5px 5px grey;
}