/* header */
img{
    border-radius: 50%;
}

.head-row{
    margin-bottom: 140px;
}

.head{
    margin-bottom: 100px;
    position: fixed;
    width: 100%;
    height: 140px;
    z-index: 99;
}

.head-avatar{
    height: 80px;
}

.pygram{
    margin-top: 20px;
    width: 50px;
    overflow: hidden;                                               
    transition-duration: 0.8s;
    transition-property: transform;
}

.pygram:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.search-form{
    direction: rtl;
    background-color: #f8f8f8;
    border: NONE;
}

.search-txt{
    width: 80%;
}
/* end header */